.pos.mobile {
    font-size: 30px;
    font-family: 'Roboto', 'Noto', sans-serif;
}

.pos.mobile .leftpane {
    width: 100%;
    height: 100%;
    border-right: solid 2px #CECBCB;
    border-right: solid 6px #787878;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    left: 0px;
    float: left;
    position: relative;
}

.pos.mobile .rightpane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    float: left;
    position: relative;
    height: 100%;
    width: 100%;
    left: 0px
}

.pos.mobile .header_order {
    max-width: 100%;
    height: 83px;
    background: white;
}

.pos.mobile .order_logo {
    max-width: 40px;
    max-height: 40px;
}

.pos.mobile .header_order_widget_logo {
    padding-right: 150px;
}

.pos.mobile .actionpad {
    width: 100%;
    height: auto;
}

.pos.mobile .numpad {
    float: none;
}

.pos.mobile .pads .numpad button {
    float: none;
    height: 100px;
    width: 10%;
}

.pos.mobile .pads .numpad li {
    font-size: 0px;
}

.pos.mobile .numpad button {
    height: 120px;
    width: 24%;
    font-size: 40px;
}

.pos.mobile .payment-numpad .numpad button {
    float: left;
}


.pos.mobile .actionpad .button {
    height: 150px;
    font-size: 30px;
}

.pos.mobile .order {
    max-width: 100%;
    font-size: 30px;
}

.pos.mobile .modal-dialog .popup {
    height: 55%;
    width: 80%;
}

.pos.mobile .button_key {
    font-size: 0px;
}

.pos.mobile .find_customer > input {
    width: 350px;
    height: 60px;
    font-size: 30px;
    max-width: 400px;
    display: none;
}

.pos.mobile .product-name {
    font-size: 25px;
}

.pos.mobile .pos-content {
    top: 70px;
    background: none;
}

.pos.mobile .pos-topheader {
    height: 71px;
}

.pos.mobile .order-button {
    min-width: 90px;
}

.pos.mobile .modal-dialog .popup {
    background: #fbeade;
}

.pos.mobile .order-button .order-sequence {
    font-size: 30px;
}

.pos.mobile .left_button {
    max-width: none;
    max-height: none;
    font-size: 35px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.pos.mobile .left_button .product-name {
    font-size: 30px;
    top: 40px;
}

.pos.mobile .popup.popup-selection .selection-item {
    font-size: 40px;
    line-height: 100px;
}

.pos.mobile .popup .title {
    font-size: 45px;
    font-weight: normal;
    color: #1A237E;
    padding: 40px;
}

.pos.mobile .pos_logo {
    max-width: 60px;
    max-height: 60px;
}

.pos.mobile .button_text {
    font-size: 30px;
    width: 150px;
    height: 150px;
    font-style: normal;
    font-weight: normal;

}

.payment-screen.mobile .paymentlines-empty .message {
    text-align: center;
}

.pos.mobile .notification {
    font-size: 30px;
}

.pos.mobile .pos-rightheader {
    left: 0px
}

.pos.mobile .show_hide_buttons {
    font-size: 45px;
    height: 50px;
}

.pos.mobile .username {
    display: none;
}

.pos.mobile .logo_shop_header {
    max-width: 70px;
    max-height: 70px;
    height: 70px;
}

.pos.mobile .pos-rightheader .header-button {
    padding-top: 11px;
    color: #FF9800;
    font-size: 55px;
}

.pos.mobile .order-button.selected .order-sequence {
    display: none;
}

.pos.mobile .clientlist-screen .client-details input, .pos.mobile .clientlist-screen .client-details select {
    width: 50%;
    color: black;
    height: 50px;
    font-size: 25px;
}

.pos.mobile .order-note {
    font-size: 35px;
    line-height: 100px;
}

.pos.mobile .header_logo {
    padding-top: 13px;
    width: 42px;
    height: 43px;
}

.pos.mobile .quickly_buttons {
    display: none;
}

.pos.mobile .order .order-empty .fa {
    font-size: 400px;
}

.pos.mobile .order .order-empty h1 {
    font-size: 60px;
}

.pos.mobile .shop_logo {
}

.pos.mobile .order-button.square {
    font-size: 30px;
}

.pos.mobile .order-button {
    padding-top: 10px;
}

.pos.mobile .fa-wifi {
    font-size: 30px;
}

.pos.mobile .product-list .product {
    width: 230px;
    height: 230px;
    font-size: 30px;
    border-radius: 20px;
}
.pos.mobile .swiper-container-android .swiper-slide, .swiper-wrapper {
    width: 1024px;
}
.pos.mobile .product .price-tag {
    line-height: 50px;
    font-size: 30px;
    line-height: 50px;
    font-size: 30px;
    text-align: right;
}

.pos.mobile .product .product-name {
    line-height: 80px;
    color: black;
    text-align: center
}

.pos.mobile .product-list .product .product-name {
    font-size: 30px;
    top: 130px;
    font-weight: 100;
    max-height: none;
}

.pos.mobile .category-simple-button {
    font-size: 20px;
}

.pos.mobile .order .orderline .info-list {
    font-size: 30px;
    color: #3F51B5;
    padding-left: 10px;
    padding-bottom: 20px;
    line-height: 40px;
}

.pos.mobile .order .orderline .product-name {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.pos.mobile .bus-info {
    font-size: 0px;
}

.pos.mobile .order .summary .total {
    font-size: 40px;
}

.pos.mobile .order .summary .total .value {
    font-size: 50px;
    line-height: 40px;
}

.pos.mobile .order .orderline .price {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}

.pos.mobile .total .label {
    font-size: 35px;
}

.pos.mobile .order .summary .line .subentry {
    padding-top: 10px;
    font-size: 30px;
    line-height: 40px;
    color: #9E9E9E;
}

.pos.mobile .order .summary .line .subentry > span {
    font-size: 40px;
}

.pos.mobile .order .summary {
    padding-top: 30px;
}

.pos.mobile .product .product-img {
    margin: 60px;
}

.pos.mobile .order-button.selected .order-sequence {
    background: none;
    top: -2px;
    color: black;
    font-size: 20px;
}

.pos.mobile .category-button {
    width: 200px;
    height: 200px;
}

.pos.mobile .category-list-scroller {
    max-height: 200px;
}

.pos.mobile .category-button .category-img {
    width: 200px;
}

.pos.mobile .category-button .category-name {
    top: 90px;
    font-size: 30px;
    line-height: 35px;
}

.pos.mobile .rightpane-header {
    height: 120px;
}

.pos.mobile .pos-sale-ticket {
    width: 250px;
}

.pos.mobile .breadcrumb-arrow {
    padding-top: 24px;
    height: 40px;
    width: 40px;
    padding-left: 20px;
}

.pos.mobile .category_home_icon {
    width: 100px;
    height: 100px;
    max-width: 100px;
}

.pos.mobile .search-clear {
    left: initial;
    font-size: 40px;
    line-height: 69px;
    height: 69px;
    top: 7px;
    cursor: pointer;
    color: red;
    background: inherit;
    right: 10px;
    display: inline-flex;
}

.pos .pads .numpad {
    width: 100%;
    padding-top: 0px;
}

.pos.mobile .breadcrumb-home {
    width: 100px;
    height: 100px;
}

.pos.mobile .category_child {
    padding-top: 20px;
}

.pos.mobile .pads .numpad {
    width: 100%;
}

.pos.mobile .payment-numpad .numpad button {
    height: 100px;
    width: 117px;
}

.pos.mobile .actionpad .button.set-customer {
    width: 49%;
    float: left;
    margin-left: 10px;
    font-size: 25px;
    height: 120px;
}

.pos.mobile .actionpad .button.pay {
    width: 49%;
    left: 7px;
    font-size: 30px;
    overflow: hidden;
    height: 120px;
}

.payment-screen.mobile .paymentlines-empty .message {
    text-align: center;
    padding-top: 20px;
    color: red;
}

.pos.mobile .pads .numpad button img {
    height: 50px;
    width: 50px;
}

.pos.mobile .order .orderline {
    padding-top: 20px;
}

.pos.mobile .icon_line {
    float: left;
    padding-top: 15px;
    padding-right: 50px;
    display: flex;
    height: 60px;
    padding-left: 0px;
}

.pos.mobile .right_pane_logo {
    max-width: 60px;
    background: white;
    border-radius: 30px;
    height: 60px;
    margin-right: 10px;
}

pos.mobile .screen .centered-content {
    top: 240px;
}

.pos.mobile .breadcrumb-button {
    font-weight: normal;
    font-size: 30px;
}

.pos.mobile .screen .left-content.pc40 {
    left: 0px;
    right: 60%
}

.pos.mobile .screen .right-content.pc60 {
    left: 40%;
}

.pos.mobile .scree .top-content {
    left: 0px;
    font-size: 30px;
}

.pos.mobile .screen .full-content {
    left: 0px;
    font-size: 30px;
}

.pos.mobile .pos-branding {
    width: 100%;
}

.pos.mobile .oe_status {
    display: none;
}

.pos.mobile .pos-rightheader .header-button:last-child {
    font-size: 30px;
}

.screen.mobile .top-content {
    top: -105px;
}

.pos.mobile .find_customer {
    float: right;
    display: none;
    padding: 0px 0px 0px 0px;
}

.pos.mobile .client-list td {
    font-size: 30px;
}

.pos.mobile .oe_link_icon {
    font-size: 45px;
}

.pos.mobile .searchbox input {
    padding-top: 17px;
    height: 50px;
    left: 60%;
    width: 100%;
    font-size: 30px;
}

.pos.mobile .clientlist-screen .button.new-customer {
    left: 52%;
    background: #4caf50;
    border-radius: 15px;
    text-align: center;
    margin-top: 11px;

}

.pos.mobile .button_logo {
    max-width: 90px;
    padding-right: 35px;
}

.pos.mobile .order .summary .line {
    padding-top: 20px;
}

.pos.mobile .full-content {
    top: 100px;
}

.pos.mobile .top-content .button {
    font-size: 30px;
    line-height: 65px;
    padding-right: 10px;
    padding-left: 10px;
}

.pos.mobile .top-content .button.back {
    height: 120px;
    max-height: 70px;
    width: 180px;
    border-radius: 5px;
}

.pos.mobile .centered-content {
    top: 220px
}

.pos.mobile .info_tooltip {
    display: none;
}

.pos.mobile .cart_qty {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #2196f3;
    color: white;
    line-height: 30px;
    min-width: 30px;
    border-radius: 24px;
    margin-right: 8px;
    margin-left: -8px;
    margin-bottom: 5px;
    text-align: center;
}

.pos.mobile .product .qty_available {
    font-weight: normal;
    line-height: 40px;
    font-size: 25px;
}

.pos.mobile .product .qty_not_available {
    font-weight: normal;
    line-height: 40px;
    font-size: 25px;
}

.payment-screen .paymentlines-empty .message {
    font-size: 0px;
}

.pos.mobile textarea {
    font-size: 35px;
    background: #9E9E9E;
}

.pos.mobile .popup-number .title, .pos .popup-textinput .title {
    font-size: 40px;
    line-height: 40px;
}

.pos.mobile .popup .footer {
    border-top: none;

}

.pos.mobile .popup .button {
    font-size: 35px;
    border-radius: 5px;
    line-height: 53px;
    width: 300px;
    height: 50px;
    color: white;
    background: #3F51B5;
    margin-bottom: 0px;
    margin-top: 0px;
}

.pos.mobile .debug-widget {
    display: none;
}

.pos.mobile .category-simple-button {
    font-size: 30px;
    color: white;
    margin: 3px;
}

.pos.mobile .tooltip-info {
    color: white;
    font-size: 30px;
    line-height: 40px;
}

.pos.mobile .product_special {
    top: 70px;
    line-height: 40px;
}

.pos.mobile .pos-rightheader > * {
    max-width: 84%;
}

.pos.mobile .clientlist-screen .button.new-product {
    margin-left: 300px;
}

.swal2-modal.mobile h2 {
    color: red;
    font-size: 50px;
}

.pos.mobile .clientlist-screen .searchbox {
    left: 40%;
}

.pos.mobile .searchbox {
    left: 60%;
    padding: 8px 13px;
    margin-top: -14px;
}

.pos.mobile .clientlist-screen .button.new-product {
    background: #00BCD4;
}

.pos.mobile .only_supplier {
    left: 70%;
}

.pos.mobile .invoices_open {
    left: 70%;
    width: 220px;
}

.pos.mobile .screen p {
    font-size: 30px;
}

.pos.mobile .paymentlines .label > * {
    font-size: 25px;
}

.pos.mobile .receipt-screen .centered-content .button {
    line-height: 40px;
    font-size: 30px;
    color: white;
}

.pos.mobile .voucher-select {
    height: 100px;
    font-size: 30px;
}

.pos.mobile .pull-right {
    right: 0px;
}

.pos.mobile .promotion_active {
    font-size: 30px;
    line-height: 40px;
}

.pos.mobile .pos_signature {
    margin: 37px;
}

.pos.mobile .popup input, .pos .popup-input {
    font-size: 40px;
    line-height: 40px;
    height: 100px;
    background: #fff;
    color: black;
}

.pos.mobile .label {
    font-size: 30px;
    line-height: 40px;
    padding-left: 40px;
}

.pos.mobile .paymentline.selected {
    font-size: 35px;
}

.pos.mobile .voucher-label {
    font-weight: 900;
    color: #3F51B5;
    font-size: 30px;
    line-height: 40px;
    padding-left: 40px;
}

.pos.mobile .pull-left {
    left: 7%
}

.pos .mobile.btn:not(.btn-just-icon):not(.btn-fab) .fa, .navbar .navbar-nav > li > a.btn:not(.btn-just-icon):not(.btn-fab) .fa {
    font-size: 30px;
}

.pos.mobile .product .price-tag-cost {
    font-size: 0px;
}

.pos.mobile .rightpane .layout-table .header-row {
    position: absolute;
    text-align: center;
    top: 0px;
    bottom: 0px;
    width: 100%;
    left: 0px;
}

.pos.mobile .btn:not(.btn-just-icon):not(.btn-fab) .fa, .navbar .navbar-nav > li > a.btn:not(.btn-just-icon):not(.btn-fab) .fa {
    font-size: 30px;
}

.pos.mobile .product-list-container {
    top: 280px;
}

.pos.mobile .category-list.simple {
    padding-left: 0px;
}

.pos.mobile .buttons_pane {
    width: 100%;
}

.pos.mobile .show_hide_pad {
    padding-left: 14%;
    font-size: 35px;
}

.pos.mobile .button-list {
    padding: 30px 30px 30px 80px;
}

.pos.mobile .top-content .only_supplier {
    display: none;
}

.pos.mobile .top-content .only_customer {
    display: none;
}

.pos.mobile .clientlist-screen .client-detail > .label {
    font-size: 25px;
    font-weight: 900;
}

.pos.mobile .clientlist-screen .client-detail {
    font-size: 20px;
}

.pos.mobile .client-list tr td {
    font-size: 20px;
}

.pos.mobile .swal2-modal .swal2-content {
    font-size: 60px;
}

.pos.mobile .form-footer {
    max-width: 93%;
    padding-left: 0px;

}

.pos.mobile pos .pull-right {
    width: 45%;
}

.pos.mobile pos .pull-left {
    width: 45%;
}

.pos.mobile .card .card-title {
    font-size: 40px;
    color: #3F51B5;
    font-weight: 900;
}

.pos.mobile .btn {
    font-size: 35px;
    font-weight: 900;
}

.pos.mobile .popup-numpad {
    width: 350px;
}

.pos.mobile .order .loyalty {
    font-size: 30px;
    max-width: 500px;
    background: azure;
    line-height: 30px;
    font-weight: normal;
}

.pos.mobile .loyalty_remaining_point {
    font-size: 30px;
}

.pos.mobile .popup .popup-number .popup-password {
    height: 650px;
}

.pos.mobile .popup-password .popup-numpad {
    width: 300px;

}

.pos.mobile .popup-numpad .input-button, .pos.mobile .popup-numpad .mode-button {
    height: 70px;
    width: 70px;
    background: white;
    font-size: 35px;
}

.pos.mobile .popup input:focus, .pos .popup-input.active {
    padding-top: 30px;
    background: white;
    box-shadow: none;
    font-size: 35px;
    line-height: 35px
}

.pos.mobile .booked_order_button {
    display: none;
}

.pos.mobile .sale_lock_button {
    display: none;
}
